@charset "UTF-8";

/*  B A S E
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


// The root element

html {
    font-family: $base-font-family;
    @include base-font-size();
    @include line-height($base-line-height);
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    @include mq-screen(max-width, $break-width-small) {
        @include base-font-size(14px);
    }
}


// Sections

body {
    background-color: $white;
    border-top: 0.25em solid $lightblue;
    color: $black;
}

h1 {
    $f: $xx-large;
    @include font-size($f);
    @include adjust-leading($f);
    font-weight: normal;
    margin: 0;
}

h2 {
    $f: $x-large;
    @include font-size($f);
    @include adjust-leading($f);
    @include vertical-rhythm(margin-top, 2);
    @include vertical-rhythm(margin-bottom, ($base-line-height-px - (convert-to-px($f) + $base-leading)) / $base-line-height-px);
    // @include vertical-rhythm(margin-bottom, (($base-line-height-px * 2) - (convert-to-px($f) + $base-leading)) / $base-line-height-px);
    font-weight: normal;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
}

h3 {
    $f: $large;
    @include font-size($f);
    @include adjust-leading($f);
    @include vertical-rhythm(margin-top, 2);
    @include vertical-rhythm(margin-bottom, ($base-line-height-px - (convert-to-px($f) + $base-leading)) / $base-line-height-px);
    // @include vertical-rhythm(margin-bottom, (($base-line-height-px * 2) - (convert-to-px($f) + $base-leading)) / $base-line-height-px);
}

h4,
h5,
h6 {
    font-size: 100%;
    @include vertical-rhythm(margin-top, 1);
    @include vertical-rhythm(margin-bottom, -1);
}


// Grouping content

p {
    @extend %base-vertical-margin;
}

pre {
    font-family: $monospace;
    @extend %base-vertical-margin-2;
    @extend %block-indent-border;
    @extend %small-text-block;
}

blockquote {
    @extend %base-vertical-margin-2;
    @extend %reset-horizontal-margin;
    &,
    + .cite {
        @extend %small-text;
        @extend %block-indent-border;
    }
    + .cite {
        @extend %base-vertical-margin-2m;
        padding-top: 1.5em;
    }
    * {
        @extend %reset-margin;
    }
}

ol,
ul {
    @extend %base-vertical-margin;
    @extend %block-indent;
}

li {}

dl {
    @extend %base-vertical-margin;
}

dt {
    @extend %base-vertical-margin-top;
    font-weight: bold;
    dt + & {
        @extend %reset-margin-top;
    }
}

dd {}

li,
dd {
    ol,
    ul,
    dl {
        @extend %reset-margin;
    }
}

figure {
    @extend %base-vertical-margin-2;
    @extend %block-indent;
    @extend %reset-horizontal-margin;
    &.quote,
    &.code {
        @extend %reset-margin;
        padding: 0;
    }
    img {
        @extend %figure-image;
        @include box-sizing(border-box);
        max-width: 100%;
    }
}

figcaption {
    @extend %small-gray-text-block;
}

// Text-level semantics

em {
    font-style: normal;
    font-weight: bold;
}

small {
    font-size: $small-font-size;
}

cite {
    font-style: normal;
}

q {
    quotes: none;
}

code,
samp,
kbd {
    font-family: $monospace;
    line-height: normal;
}

mark {
    background-color: mix(yellow, $white, 50%);
}


// Embedded content


// Tabular data

table {
    @extend %base-vertical-margin-2;
    @extend %small-text;
    @extend %table-bordered;
}

caption {
    padding-bottom: 0.5em;
    text-align: left;
}

%table-bordered {
    thead, tbody {
        border-top: $gray-solid-border-2;
        border-bottom: $gray-solid-border-2;
    }
    th, td {
        border-bottom: $gray-solid-border;
        border-top: $gray-solid-border;
        text-align: left;
        padding: 0.5em 0 0.5em 32px;
        padding-left: convert-to-rem(32px);
        vertical-align: baseline;
        &:first-child {
            padding-left: 0;
        }
    }
}

%table-simple {
    thead, tbody {
        border-top: $gray-solid-border;
        border-bottom: $gray-solid-border;
    }
    th, td {
        text-align: left;
        padding: 0 0 0.5em 32px;
        padding-left: convert-to-rem(32px);
        vertical-align: baseline;
        &:first-child {
            padding-left: 0;
        }
    }
    thead tr:first-child {
        th, td {
            padding-top: 0.5em;
        }
    }
    tbody tr:first-child {
        th, td {
            padding-top: 0.75em;
        }
    }
    tbody tr:last-child {
        th, td {
            padding-bottom: 0.75em;
        }
    }
}
