// text-emphasis fix 1
@font-face {
    font-family: "em-dot-fix";
    src: local("Times"), local("Times New Roman");
    unicode-range: U+2022;
}

// text-emphasis fix 2 (for Chrome)
@font-face {
    font-family: "em-space-fix";
    src: local("Hiragino Mincho ProN");
    unicode-range: U+20;
}

/*!
 * YakuCalt (約猫)
 * http://tama-san.com/yakucalt-font/
 */

// http://tama-san.com/font-sample/YakuCaltMincho/YakuCaltMincho_List.html

@font-face {
    font-family: "YakuCalt Gothic";
    font-display: swap;
    src: url("https://terkel.jp/wordpress/wp-content/themes/terkel-jp/fonts/YakuCaltGothic-R.woff") format("woff");
    font-weight: 400;
    unicode-range:
        U+3000-3002, // 　、。
        U+3008-3011, // 〈〉《》「」『』【】
        U+3014-301B, // 〔〕〖〗〘〙〚〛
        U+301D-301F, // 〝〞〟
        U+30FB, // ・
        U+FF08-FF09, // （）
        U+FF0C, U+FF0E, // ，．
        U+FF1A-FF1B, // ：；
        U+FF3B, U+FF3D, // ［］
        U+FF5B, U+FF5D, // ｛｝
        U+FF5F-FF60; // ｟｠
}

@font-face {
    font-family: "YakuCalt Mincho";
    font-display: swap;
    src: url("https://terkel.jp/wordpress/wp-content/themes/terkel-jp/fonts/YakuCaltMincho-R.woff") format("woff");
    font-weight: 400;
    unicode-range:
        U+3000-3002, // 　、。
        U+3008-3011, // 〈〉《》「」『』【】
        U+3014-301B, // 〔〕〖〗〘〙〚〛
        U+301D-301F, // 〝〞〟
        U+30FB, // ・
        U+FF08-FF09, // （）
        U+FF0C, U+FF0E, // ，．
        U+FF1A-FF1B, // ：；
        U+FF3B, U+FF3D, // ［］
        U+FF5B, U+FF5D, // ｛｝
        U+FF5F-FF60; // ｟｠
}
