@charset "UTF-8";

/* P R I N T
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media print {
    %no-print {
        display: none;
    }
    html {
        font-size: 12px;
    }
    body {
        color: black;
        background-color: white;
        border: 0;
    }
    [role="banner"],
    [role="main"],
    [role="contentinfo"] {
        max-width: none;
        padding: 0;
    }
    [role="banner"] {
        text-align: left;
    }
    .logo h1 {
        font-family: $base-font-family;
        font-size: 100%;
        letter-spacing: 0;
    }
    .mainContentBody a {
        text-decoration: underline;
        border-bottom-width: 0;
    }
    [role="complementary"] a,
    .credits a {
        color: inherit;
        border-bottom-width: 0;
    }
    .url-ref {
        display: inline;
    }
    .url-list {
        display: block;
    }
}
