// Directories
$dir-css:   "../css";
$dir-img:   "../img";
$dir-fonts: "../fonts";

// Media queries
$media-query-small:  "screen and (max-width: 40em)";
$media-query-medium: null;
$media-query-large:  "screen and (min-width: 64em) and (min-height: 64em)";
$media-query-hidpi:  "print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx)";

// Fonts
$font-family-sans:   "Open Sans";
$font-family-serif:  "Georgia";
$font-family-gothic: "Hiragino Kaku Gothic ProN", "Meiryo";
$font-family-mincho: "Hiragino Mincho ProN", "Yu Mincho", "游明朝";
$font-family-mono:   "Ubuntu Mono", "Menlo", "Consolas";

// Type scales
$type-scales: (
    media: null,
    sizes: (
        x-small:  ( font-size: 12px, line-height: 21px ),
        small:    ( font-size: 14px, line-height: 21px ),
        medium-n: ( font-size: 16px, line-height: 21px ),
        medium:   ( font-size: 16px, line-height: 28px ),
        large:    ( font-size: 21px, line-height: 28px ),
        x-large:  ( font-size: 28px, line-height: 42px )
    )
), (
    media: $media-query-small,
    sizes: (
        x-small:  ( font-size: 10px, line-height: 18px ),
        small:    ( font-size: 12px, line-height: 18px ),
        medium-n: ( font-size: 14px, line-height: 18px ),
        medium:   ( font-size: 14px, line-height: 24px ),
        large:    ( font-size: 18px, line-height: 24px ),
        x-large:  ( font-size: 24px, line-height: 36px )
    )
), (
    media: $media-query-large,
    sizes: (
        x-small:  ( font-size: 14px, line-height: 24px ),
        small:    ( font-size: 16px, line-height: 24px ),
        medium-n: ( font-size: 18px, line-height: 24px ),
        medium:   ( font-size: 18px, line-height: 32px ),
        large:    ( font-size: 24px, line-height: 32px ),
        x-large:  ( font-size: 32px, line-height: 48px )
    )
);

$indent-default-px: 32px;
$indent-default:    2rem;

// Colors
$color-bg-main:      hsla(  60,  25.000%,  96.875%, 1.00 );
$color-bg-mark:      hsla(  60, 100.000%,  50.000%, 0.50 );
$color-bg-selection: hsla( 210, 100.000%,  87.500%, 1.00 );

$color-bg-gray:      hsla(   0,   0.000%,   0.000%, 0.05 );
$color-bg-red:       hsla(   0,  50.000%,  75.000%, 0.25 );
$color-bg-yellow:    hsla(  60,  50.000%,  75.000%, 0.25 );
$color-bg-green:     hsla( 120,  50.000%,  75.000%, 0.25 );
$color-bg-bule:      hsla( 210,  50.000%,  75.000%, 0.25 );

$color-fg-main:      hsla( 210, 100.000%,  12.500%, 1.00 );
$color-fg-darkblue:  hsla( 210, 100.000%,  25.000%, 1.00 );
$color-fg-blue:      hsla( 210, 100.000%,  50.000%, 1.00 );
$color-fg-bluegray:  hsla( 210,  25.000%,  50.000%, 1.00 );
$color-fg-gray:      hsla( 210,   6.250%,  50.000%, 1.00 );
// $color-fg-gray:      hsla( 210,   6.250%,  43.750%, 1.00 ); // AA

$color-fg-red:       hsla(   0, 100.000%,  25.000%, 1.00 );
$color-fg-yellow:    hsla(  60, 100.000%,  12.500%, 1.00 );
$color-fg-green:     hsla( 120, 100.000%,  12.500%, 1.00 );

$color-fg-lightgray: hsla(   0,   0.000%,   0.000%, 0.25 );
$color-fg-palegray:  hsla(   0,   0.000%,   0.000%, 0.10 );

$color-white:        hsla(   0,   0.000%, 100.000%, 1.00 );
$color-black:        hsla(   0,   0.000%,   0.000%, 1.00 );

// Images
$image-favicon-data: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAABJ0lEQVRIx2NgkDSmLRq1YMhZkH3q5fuvX5+vynOiiQVJy85//Qq04MGkAJr4oOoOyPT3X5/u06F2EPnVzFp/5yXYdBB6cmDblt27dx44sKUmgAoWZJ96CzcaHa1KpYYFu2/cuHPnCdzQlw+BXCC68+DOvhwjqsVB9rmPEAvu1NAkmaYufQvxwct9PrSwIGLWcWj4nJpCk4zWfRQaB+dmJdHCgsgDTyER8HxpKi2KCqOOB5AI+Hi+hBZlkU7Z+o8QC+6s16GFBSUbr0Ai4MHuDpqUppNgMXy0N5ImFnQffQC24PXWMifa+OAU1AdPz69vKatqmbV0Rl0SNS3IgVYDCPTx/CwqF9fzT91BtuDpgT7qVzg6AdklZcVJqcVJ0X6jrYpRC4aVBQAodwfqT2mhQAAAAABJRU5ErkJggg==);

// Decimal precision
$decimal-precision: 4;
