// Colors
$color-black: #000000;
$color-black-900: rgba($color-black, 0.87);
$color-black-500: rgba($color-black, 0.38);
$color-black-100: rgba($color-black, 0.04);
$color-offwhite: #f9f9f5;
$color-blue: #0070e0;

// Font families
$font-family-system: -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Segoe UI", "Helvetica Neue", "sans-serif", sans-serif, "Segoe UI Emoji";
$font-family-mincho: "source-han-serif-japanese", serif;
$font-family-gothic: "source-han-sans-japanese", sans-serif;
$font-family-mono: "mplus-1m", monospace;
