// Musical intervals
$ratio-octave:    2;     //  2:1
$ratio-major-7th: 1.875; // 15:8
$ratio-minor-7th: 1.778; // 16:9
$ratio-major-6th: 1.667; //  5:3
$ratio-minor-6th: 1.6;   //  8:5
$ratio-fifth:     1.5;   //  3:2
$ratio-dim-5th:   1.414; // √2:1
$ratio-aug-4th:   1.414; // √2:1
$ratio-fourth:    1.333; //  4:3
$ratio-major-3rd: 1.25;  //  5:4
$ratio-minor-3rd: 1.2;   //  6:5
$ratio-major-2nd: 1.125; //  9:8
$ratio-minor-2nd: 1.067; // 16:15
$ratio-unison:    1;     //  1:1

// Metallic means
$ratio-golden: 1.618; // 1.618033989...
$ratio-silver: 2.414; // 2.414213562...
$ratio-bronze: 3.303; // 3.302775638...
