$vertical-rhythm-unit-small: 1rem * $ratio-minor-7th;
$vertical-rhythm-unit-medium: 1rem * $ratio-major-7th;
$vertical-rhythm-unit-large: 1rem * $ratio-octave;

@mixin vertical-rhythm ($prop, $rhythm: 1) {
    #{ $prop }: $vertical-rhythm-unit-small * $rhythm;

    @media #{ $media-medium } {
        #{ $prop }: $vertical-rhythm-unit-medium * $rhythm;
    }

    @media #{ $media-large } {
        #{ $prop }: $vertical-rhythm-unit-large * $rhythm;
    }
}
