.ArchivesList {
    li {
        @include list-item-dash();
    }

    time {
        color: $color-black-700;
        font-kerning: auto;
        white-space: nowrap;
        font-family: $font-family-gothic;
        font-weight: $font-weight-gothic-normal;
        font-size: 0.8125rem;
        margin-left: 0.25rem;
    }
}
