.ArchivesLink {
    color: $color-black-900 !important;
    font-family: $font-family-gothic !important;
    font-weight: $font-weight-gothic-normal !important;
    font-kerning: auto;
    font-size: 0.8125rem;
    letter-spacing: 0.1em;
    line-height: 1.539;
    margin-bottom: 1.75rem;
    margin-top: 1.75rem;
    padding-bottom:0.25rem;
    padding-top:0.25rem;
    text-align: right;
    text-transform: uppercase;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &::after {
            content: "\2192";
            display: inline-block;
            line-height: 0;
            margin-left: 0.5em;
        }
    }
}
