.ArticleTeaser {
    @include list-item-dash();
    font-family: $font-family-mincho;
    margin-bottom: 1.75rem;
    margin-left: 2rem;
    margin-top: 1.75rem;

    h3,
    .meta {
        display: inline;
    }

    h3 {
        font-family: $font-family-mincho;
        font-feature-settings: normal;
        font-kerning: none;
        font-size: 1rem;
        line-height: 1.75;
        font-weight: normal;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    .meta {
        color: inherit;
        font-family: $font-family-system;
        font-kerning: auto;
        font-size: 0.75rem;
        line-height: 1.667;
        margin-bottom: 0;
        margin-left: 0.25rem;
        margin-top: 0;
        white-space: nowrap;

        &::before,
        &::after {
            content: "";
            display: inline-block;
            height: 1.667em;
        }

        &::after {
            vertical-align: -0.5rem;
        }
    }

    .description {
        margin-bottom: 0;
        margin-top: 0;
    }
}
