.MainBody {
    font-kerning: none;
    margin-bottom: 4.5rem;
    margin-top: 3.75rem;

    @media (min-width: 36em), (orientation: landscape) {
        hanging-punctuation: allow-end;
    }

    :not(:lang(ja)) {
        font-kerning: auto;
    }

    p,
    ol,
    ul,
    dl {
        color: $color-black;
        font-family: $font-family-mincho-punc;
        font-weight: $font-weight-mincho-normal;
    }

    h2:not(.Subheader),
    h3,
    h4,
    h5,
    h6,
    dt,
    b,
    strong,
    i,
    em,
    dfn {
        color: $color-black-900;
        font-family: $font-family-gothic-punc;
        font-weight: $font-weight-gothic-bold;
    }

    pre b, pre strong,
    code b, code strong,
    kbd b, kbd strong,
    samp b, samp strong {
        font-weight: bold;
    }

    h2:not(.Subheader),
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-family-gothic;
        font-feature-settings: "palt";
        font-kerning: auto;
        font-weight: $font-weight-gothic-bold;
    }

    figure,
    table {
        font-family: $font-family-gothic;
        font-weight: $font-weight-gothic-normal;
    }

    th {
        font-weight: $font-weight-gothic-bold;
    }
}
