.SiteHeader {
    font-size: var(--caption-font-size);
    line-height: var(--caption-line-height);
    margin-top: var(--caption-line-height);
    margin-bottom: calc(var(--vertical-rhythm-unit) * 4);
}
