.SiteHeader {
    box-shadow: 0 1px $color-black-500;
    align-items: baseline;
    display: flex;

    h1 {
        font-size: 1rem;
        font-weight: $font-weight-gothic-bold;
        line-height: 1.25;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0.75em;
        padding-top: 1em;
    }

    nav {
        font-size: 0.8125rem;
        letter-spacing: 0.05em;
        line-height: 1;
        margin-left: auto;
        text-transform: uppercase;

        ul {
            display: flex;
            margin-bottom: 0;
            margin-top: 0;
            padding-left: 0;

        }

        li {
            position: static;

            &::before {
                content: normal;
            }
        }

        li + li {
            margin-left: 1em;
        }

        a {
            color: inherit;
        }
    }

    a {
        text-decoration: none;

        &[href]:hover {
            text-decoration: underline;
        }
    }
}
