.SiteFooter {
    box-shadow: inset 0 1px $color-black-500;
    padding-bottom: 5rem;
    padding-top: 3rem;

    p {
        font-size: 0.75rem;
        line-height: 1.667;
        margin-bottom: -0.5em;
        margin-top: -1.167em;
    }

    a {
        color: inherit;
    }
}
