.Subheader {
    font-family: $font-family-system;
    font-feature-settings: "c2sc", "smcp";
    font-kerning: auto;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.1em;
    line-height: 1.25;
    margin-bottom: 1.75rem;
    margin-top: 3.5rem;
    padding-bottom:0.25rem;
    padding-top:0.25rem;
}
