.Subheader {
    color: $color-black-900;
    font-family: $font-family-gothic;
    font-weight: $font-weight-gothic-bold;
    font-kerning: auto;
    font-size: 0.8125rem;
    letter-spacing: 0.1em;
    line-height: 1.539;
    margin-bottom: 1.75rem;
    margin-top: 3.5rem;
    padding-bottom:0.25rem;
    padding-top:0.25rem;
    text-transform: uppercase;
}
