// Base colors
$color-black: black;
$color-white: white;
$color-yellow: hsl(60, 100%, 50%);
$color-blue: hsl(210, 100%, 50%);

// Theme colors
$color-dark: $color-black;
$color-light: change-color($color-yellow, $saturation: percentage(1/4), $lightness: percentage(31/32));
$color-accent: change-color($color-blue, $lightness: 50% - percentage(1/16));

// Grayscale
$color-gray-xxxdark:  mix($color-light, $color-dark, percentage(1/32));
$color-gray-xxdark:   mix($color-light, $color-dark, percentage(1/16));
$color-gray-xdark:    mix($color-light, $color-dark, percentage(1/8));
$color-gray-dark:     mix($color-light, $color-dark, percentage(1/4));
$color-gray:          mix($color-light, $color-dark, percentage(1/2));
$color-gray-light:    mix($color-light, $color-dark, percentage(3/4));
$color-gray-xlight:   mix($color-light, $color-dark, percentage(7/8));
$color-gray-xxlight:  mix($color-light, $color-dark, percentage(15/16));
$color-gray-xxxlight: mix($color-light, $color-dark, percentage(31/32));

// Site-wide colors
$color-background:           $color-light;
$color-background-highlight: $color-gray-xxlight;
$color-text:                 $color-dark;
$color-text-secondary:       mix($color-light, $color-dark, 50% - percentage(1/16));
$color-link:                 $color-accent;
$color-link-secondary:       change-color($color-accent, $saturation: percentage(1/2));
$color-border:               $color-gray-xlight;
