$color-white: white;
$color-black: black;

$color-offwhite: hsl(  60,  25.000%,  96.875% );
$color-paleblue: hsl( 210, 100.000%,  87.500% );
$color-blue:     hsl( 210, 100.000%,  43.750% );

$color-light: $color-offwhite;
$color-dark: $color-black;
