$media-xsmall: "(min-width: 24em)";
$media-small: "(min-width: 32em)";
$media-medium: "(min-width: #{ $ratio-unison * 40em * $ratio-major-2nd })";
$media-large: "(min-width: #{ $ratio-major-2nd * 40em * $ratio-fifth })";
