// Font family
$font-family-serif: "Merriweather";
$font-family-sans: "Merriweather Sans";
$font-family-mincho: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN";
$font-family-gothic: "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Meiryo";
$font-family-mono: "Menlo", "Consolas";
