html {
    font-family: $font-family-sans, $font-family-gothic, sans-serif;

    &.mincho {
        font-family: $font-family-serif, $font-family-mincho, serif;
    }
}

pre,
code,
samp,
kbd {
    font-family: $font-family-mono, monospace;
}
