*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: $font-family-sans, $font-family-gothic, sans-serif;
    font-size: percentage($ratio-minor-7th * 0.5);

    @media (min-width: 48em) {
        font-size: percentage($ratio-unison);
    }

    @media (min-width: 80em) {
        font-size: percentage($ratio-major-2nd);
    }
}

body {
    @extend %layout-body;
    background-color: $color-background;
    color: $color-text;
    position: relative;
}

h1 {
    @include polyrhythm(2.5rem, 1rem);
    font-size: $font-size-xxlarge;
    font-weight: normal;
    margin: 5rem 0;

    .mincho & {
        font-family: $font-family-serif, $font-family-mincho, serif;
    }
}

h2 {
    @include polyrhythm(2.5rem, 1rem);
    font-size: $font-size-xlarge;
    font-weight: normal;
    margin: 5rem 0 1rem;
}

h3 {
    @include polyrhythm(2rem, 1rem);
    font-size: $font-size-large;
    margin: 3rem 0 1rem;
}

h4 {
    @include polyrhythm(2rem, 1rem);
    font-size: $font-size-medium;
    margin: 1rem 0 -2rem;
}

h5 {
    @include polyrhythm(1.5rem, 1rem);
    font-size: $font-size-small;
    margin: 1.5rem 0 -2rem;
}

h6 {
    @include polyrhythm(1.5rem, 1rem);
    font-size: $font-size-xsmall;
    margin: 1.5rem 0 -2rem;
}

p {
    @include polyrhythm(2rem, 1rem);
    margin: 1rem 0;
}

hr {
    border: 0;
    color: $color-text-secondary;
    height: 3rem;
    line-height: 2rem;
    margin: 1rem 0;
    text-align: center;

    &:before {
        content: "";
        display: inline-block;
        height: 2rem;
    }

    &:after {
        content: "*";
    }
}

pre,
code,
samp,
kbd {
    font-family: $font-family-mono, monospace;
}

pre {
    @extend %layout-inset;
    @include polyrhythm(1rem, 0.5rem);
    font-size: $font-size-xsmall;
    white-space: pre-wrap;
}

blockquote {
    @extend %layout-inset;

    p,
    footer {
        @include polyrhythm(1.5rem, 1rem);
        font-size: $font-size-small;
    }

    p {
        margin: 0;

        & + p {
            margin-top: -1rem;
            text-indent: 2em;
        }
    }

    footer {
        margin-left: 1rem;
        margin-top: -1rem;
        text-align: right;

        @media (min-width: 24em) {
            margin-left: 2rem;
        }
    }
}

a {
    color: $color-accent;

    &:not([href]) {
        color: inherit;
        cursor: default;
    }
}

b,
cite,
code,
dfn,
em,
i,
kbd,
samp,
small,
strong,
var {
    line-height: 0;
}

cite,
dfn,
em,
i {
    &:lang(ja) {
        font-style: normal;
    }
}

mark {
    background-color: $color-background-marked;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    max-width: 100%;
}

::-moz-selection {
    background-color: hsla( 210, 100.000%,  87.500%, 1.00 );
    text-shadow: none;
}

::selection {
    background-color: hsla( 210, 100.000%,  87.500%, 1.00 );
    text-shadow: none;
}
