*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: $font-family-sans, $font-family-gothic, sans-serif;
    font-size: percentage($ratio-major-2nd);

    @media (max-width: 1250px) {
        font-size: percentage($ratio-unison);
    }

    @media (max-width: 750px) {
        font-size: percentage($ratio-minor-7th * 0.5);
    }
}

body {
    @extend %layout-body;
    background-color: $color-background;
    color: $color-text;
    // margin: auto;
    // max-width: 48rem;
    // padding: 0 1rem;
    position: relative;

    // @media (min-width: 24em) {
    //     padding-left: 2rem;
    //     padding-right: 2rem;
    // }
}

pre,
code,
samp,
kbd {
    font-family: $font-family-mono, monospace;
}

code,
samp,
kbd {
    opacity: $ratio-fifth * 0.5;
}

a {
    color: $color-accent;

    &:not([href]) {
        color: inherit;
    }
}

b,
cite,
code,
dfn,
em,
i,
kbd,
samp,
small,
strong,
var {
    line-height: 0;
}

cite,
dfn,
em,
i {
    &:lang(ja) {
        font-style: normal;
    }
}

mark {
    background-color: $color-background-marked;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    max-width: 100%;
}

::-moz-selection {
    background-color: hsla( 210, 100.000%,  87.500%, 1.00 );
    text-shadow: none;
}

::selection {
    background-color: hsla( 210, 100.000%,  87.500%, 1.00 );
    text-shadow: none;
}
