html {
    font-family: $font-family-gothic;
    font-weight: $font-weight-gothic-normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: $color-offwhite;
    color: $color-black-900;
    margin: 0 auto;
    max-width: calc(100vw - 2rem);

    @media (orientation: portrait) {
        @media (min-width: 20em) { width: 18rem; }
        @media (min-width: 22em) { width: 20rem; }
        @media (min-width: 25em) { width: 22rem; }
        @media (min-width: 30em) { width: 27rem; }
        @media (min-width: 36em) { width: 32rem; }
    }

    @media (orientation: landscape) {
        @media (min-width: 30em) { width: 24rem; }
        @media (min-width: 35em) { width: 28rem; }
        @media (min-width: 40em) { width: 32rem; }
        @media (min-width: 45em) { width: 36rem; }
    }

    @media (orientation: portrait) and (min-width: 45em), (min-width: 50em) {
        width: 40rem;
    }
}

h2 {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.75rem;
    margin-top: 3.5rem;
    padding-bottom: 0.125rem;
    padding-top: 0.125rem;
}

h3,
h4,
h5,
h6 {
    font-size: 0.875rem;
    line-height: 1.429;
    margin-bottom: 0;
    margin-top: 1.75rem;
    padding-bottom: 0.1875rem;
    padding-top: 0.3125rem;
}

p,
ol,
ul,
dl {
    line-height: 1.75;
    margin-bottom: 1.75rem;
    margin-top: 1.75rem;
}

ol,
ul {
    padding-left: 2rem;
}

ul li {
    @include list-item-dash();
}

dd {
    margin-left: 2rem;
}

h3 + p, h4 + p, h5 + p, h6 + p,
h3 + ol, h4 + ol, h5 + ol, h6 + ol,
h3 + ul, h4 + ul, h5 + ul, h6 + ul,
h3 + dl, h4 + dl, h5 + dl, h6 + dl {
    margin-top: 0;
}

ol p, ul p, dl p,
ol ol, ul ol, dl ol,
ol ul, ul ul, dl ul,
ol dl, ul dl, dl dl {
    margin-bottom: 0;
    margin-top: 0;
}

pre {
    font-family: $font-family-mono;
    font-size: 0.875rem;
    line-height: 1.429;
    margin-bottom: 1.75rem;
    margin-top: 1.75rem;
    overflow: auto;
    padding-bottom: 0.125rem;
    padding-left: 2rem;
    padding-top:0.375rem;
}

blockquote {
    margin: 1.75rem 0 1.75rem 2rem;

    p {
        margin-bottom: 0;
        margin-top: 0;

    }

    p + p {
        text-indent: 1em;
    }

    footer {
        text-align: right;
    }
}

figure,
table {
    font-size: 0.75rem;
    line-height: 1.667;
    margin: 3rem auto;
}

figure {
    display: table;
}

table {
    border-bottom: 1px solid $color-black-500;
    border-collapse: collapse;
}

thead,
tfoot,
tbody {
    border-top: 1px solid $color-black-500;
}

th,
td {
    padding: 0.25rem 1em;
}

tbody th,
tfoot th {
    text-align: left;
}

tbody tr:first-child th,
tbody tr:first-child td {
    padding-top: 0.75rem;
}

tbody tr:last-child th,
tbody tr:last-child td {
    padding-bottom: 0.75rem;
}

thead tr:not(:last-child):not(:only-child) th[colspan],
tfoot tr:not(:last-child):not(:only-child) th[colspan] {
    position: relative;
}

thead tr:not(:last-child):not(:only-child) th[colspan]::after,
tfoot tr:not(:last-child):not(:only-child) th[colspan]::after {
    content: "";
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    bottom: 0;
    border-top: 1px solid $color-black-500;
}

figcaption,
caption {
    font-size: 0.75rem;
    line-height: 1.667;
    margin-bottom: -0.5em;
    margin-top: 1.167em;

    a {
        color: inherit;
    }
}

caption {
    caption-side: bottom;
    text-align: left;
}



a {
    color: $color-blue;
    text-decoration-skip: ink;

    &[href^="#fn-"] {
        font-family: $font-family-mono;
        font-weight: bold;
        padding-left: 0.25em;
        padding-right: 0.25em;
        text-decoration: none;
    }

    &[href^="#fnref-"] {
        text-decoration: none;
    }

    &:not([href]) {
        cursor: default;
    }
}

b,
cite,
code,
dfn,
em,
i,
kbd,
samp,
small,
strong,
var {
    line-height: normal;
}

code,
samp,
kbd {
    background-color: $color-black-100;
    border-radius: 0.125em;
    color: $color-black-900;
    font-family: $font-family-mono;
    font-weight: $font-weight-gothic-normal;
    margin-left: 0.125ch;
    margin-right: 0.125ch;
    padding-left: 0.375ch;
    padding-right: 0.375ch;
}

pre code,
pre samp,
pre kbd {
    background-color: transparent;
    border-radius: 0;
    line-height: inherit;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

a code,
a samp,
a kbd {
    color: inherit;
}

code *,
samp *,
kbd * {
    font-family: inherit !important;
}

cite,
dfn,
em,
i {
    @include lang-cjk() {
        font-style: normal;
    }
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    fill: currentColor;
}
