%block-default {
    @include vertical-rhythm(margin, 1 0);
}

%block-default-list {
    @extend %block-default;
    padding-left: $indent-default;
}

%block-heading-higher {
    @include vertical-rhythm(margin, 2 0 1);
}

%block-heading-lower {
    @include vertical-rhythm(margin, 1 0 0);
}

%block-aside {
    @include vertical-rhythm(margin, 3 0);
}

%block-small {
    @extend %text-small;
    @include vertical-rhythm(margin, 1.25 0);
}

%block-small-center {
    @extend %block-small;
    margin-left: auto;
    margin-right: auto;
}

%block-small-indent {
    @extend %block-small;
    margin-left: $indent-default;
    margin-right: $indent-default;
    @media #{ $media-query-small } {
        margin-left: $indent-default / 2;
        margin-right: $indent-default / 2;
    }
}

%block-small-background {
    @extend %block-small;
    @include vertical-rhythm(padding, 1 $indent-default);
    @media #{ $media-query-small } {
        padding-left: $indent-default / 2;
        padding-right: $indent-default / 2;
    }
}

%block-caption-bottom {
    @extend %text-gray;
    margin-top: 0.5em;
}

/* Block with sidelines */
%block-sideline {
    align-items: center;
    display: flex;
}

%block-sideline-pesudo {
    border-top: 1px solid $color-fg-palegray;
    content: "";
    display: inline; // for IE
    flex-grow: 1;
}

%block-sideline-pesudo-before {
    @extend %block-sideline;
    &:before {
        @extend %block-sideline-pesudo;
        margin-right: 1em;
    }
}

%block-sideline-pesudo-after {
    @extend %block-sideline;
    &:after {
        @extend %block-sideline-pesudo;
        margin-left: 1em;
    }
}

%block-sideline-both {
    @extend %block-sideline-pesudo-before;
    @extend %block-sideline-pesudo-after;
}

%block-sideline-left {
    @extend %block-sideline-pesudo-before;
}

%block-sideline-right {
    @extend %block-sideline-pesudo-after;
}
