/* Callout */

%callout {
    @extend %block-small-background;
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
        font-weight: bold;
        line-height: inherit;
        letter-spacing: 1px;
        margin: 0;
        text-transform: uppercase;
    }
    a {
        color: inherit;
    }
}
