/* Inline list */

%inline-list-item {
    display: inline-block;
    &:before {
        content: "\20\B7\20";
        margin: 0 0.25em;
        color:hsl(210, 10%, 50%);
    }
    &:first-child:before {
        display: none;
    }
}
