%layout-body {
    margin: auto;
    max-width: calc(100vw - 2rem);
    width: 32rem;

    @media (min-width: 48em) {
        width: 44rem;
    }
}

%layout-inset {
    margin: 3rem 1rem;

    @media (min-width: 32em) {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
