%layout-body {
    margin: auto;
    max-width: 48rem;
    padding: 0 1rem;

    @media (min-width: 32em) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

%layout-inset {
    margin: 3rem 1rem;

    @media (min-width: 32em) {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
