%text-caption {
    @include polyrhythm(1rem, 0.5rem);
    color: $color-text-secondary;
    font-size: $font-size-xsmall;
    padding: 1rem 0 0;

    a {
        border-bottom: 0;
        color: $color-link-secondary;
        text-decoration: underline;

        &:hover {
            color: $color-text;
        }
    }
}
