// Ads module
@charset "UTF-8";

/* Ads */
%ads {
    @include vertical-rhythm(margin-bottom, 3);
    text-align: center;

    %ad-small,
    %ad-medium {
        display: none;
    }

    @include respond($mq-medium-and-below) {
        %ad-medium {
            display: block;
        }
        %ad-small,
        %ad-large {
            display: none;
        }
    }

    @include respond($mq-narrow-and-below) {
        %ad-small {
            display: block;
        }
        %ad-medium,
        %ad-large {
            display: none;
        }
    }

}
