// List modules
@charset "UTF-8";

/* Article summary list */

%article-summary-list {
    @include vertical-rhythm(margin-top, 2);
    &:first-child {
        margin-top: 0;
    }
}

%article-summary-list-item {
    @extend %border-inset-top-dashed;
    @extend %reveal-link;
    @include vertical-rhythm(padding-top, 2);
    @include vertical-rhythm(padding-bottom, 1);
    %article-summary-list:first-child &:first-child {
        border-top-width: 0;
        @extend %border-inset-top-none;
    }
}

%article-summary-list-link {}

%article-summary-list-title {
    @extend %reset-margin-top;
    @extend %reset-letter-spacing;
    @extend %reset-word-spacing;
}

%article-summary-list-meta {
    @extend %small-gray-text-block-top;
    @include vertical-rhythm(margin-bottom, 1);
}

%article-summary-list-body {
    @extend %reset-margin;
}

%article-summary-list-footer {
    @extend %small-gray-text-block;
    @include transition(opacity 0.4s);
    text-align: right;
    a {
        @extend %reset-link;
        &:after {
            content: "\2192";
            margin-left: 0.25em;
            display: inline-block;
        }
    }
    .no-touch & {
        @include opacity(0);
        @include transition(opacity 0.4s);
    }
    %article-summary-list-item:hover & {
        @include opacity(1);
        @include transition(opacity 0.2s);
    }
}
