// List modules
@charset "UTF-8";

/* Article list */

%article-list {
    @extend %reset-margin;
    @extend %reset-padding;
    @extend %reset-list-style;
    @include vertical-rhythm(margin-top, 2);
}

%article-list-item {
    @extend %reset-margin;
    @extend %base-vertical-padding;
    @extend %border-inset-top-dashed;
    display: table;
    width: 100%;
    @include respond($mq-narrow-and-below) {
        display: block;
    }
}

%article-list-title {
    display: table-cell;
    padding-right: 1em;
    @include respond($mq-narrow-and-below) {
        display: block;
        padding-right: 0;
    }
    a {
        border-bottom-width: 0;
    }
}

%article-list-meta {
    @extend %small-gray-text;
    display: table-cell;
    text-align: right;
    white-space: nowrap;
    @include respond($mq-narrow-and-below) {
        display: block;
        text-align: left;
    }
}
