// About the Author module
@charset "UTF-8";

/* About the Author */
%author {
    @extend %base-vertical-padding;
    @extend %border-inset-top-solid;
}

%author-title {
        @extend %reset-font-size;
        @extend %caps-text;
        @include line-height($base-line-height);
}

%author-body {
        @include clearfix;
        @extend %reset-margin;
        @extend %small-text-block-top;
}

%author-image {
        @extend %gray-bordered-image;
        float: left;
        margin-right: 12px;
        margin-top: 0.25em;
}
