// Last.fm widget module
@charset "UTF-8";

/* Last.fm widget */

%lastfm {
    @include vertical-rhythm(padding-top, 1);
}

%lastfm-heading {
    @extend %reset-margin;
    @extend %reset-font-size;
    color: $gray;
    font-weight: bold;
}

%lastfm-list {
    @extend %reset-list-style;
    @extend %reset-margin;
    padding: 0.375em 0 0;
}

%lastfm-item {
    display: inline-block;
    margin-right: 0.125em;
}

%lastfm-link {
    display: inline-block;
    border-bottom-width: 0;
}

%lastfm-image {
    @extend %gray-bordered-image;
    width: 63px;
}
