// Social buttons module
@charset "UTF-8";

/* Social buttons */

%social-buttons-wrapper {
    @extend %base-vertical-padding;
    @extend %border-inset-top-solid;
    @include vertical-rhythm(margin-top, 3);
}

%social-buttons-heading {
    display: none;
}

%social-buttons {
    @extend %reset-padding;
    @extend %reset-list-style;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

%social-buttons-item {
    display: inline-block;
    font-size: $base-font-size-px;
    line-height: 1;
    padding: 0.1875em 0;
    vertical-align: top;
    &:first-child {
        padding-left: 40px;
        @include respond($mq-narrow-and-below) {
            padding-left: 0;
        }
    }
}
