.archivesList[data-component] {
    @include vertical-rhythm(line-height, 5/6);
    padding: 0;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    li {
        @include vertical-rhythm(margin-bottom, 2/6);
        @include vertical-rhythm(margin-top, 2/6);
        align-items: baseline;
        display: flex;
        list-style-type: none;
    }

    time {
        color: $color-text-secondary;
        flex: 0 0 5em;
        font-family: $font-family-sans;
        font-size: $font-size-xsmall;
        line-height: normal;
    }
}
