.articleSummary[data-component] {
    @include vertical-rhythm(margin-bottom, 9/6);
    @include vertical-rhythm(margin-top, 9/6);

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    h3 {
        font-weight: normal;
        opacity: 1;
        margin: 0;

        .mincho & {
            font-family: $font-family-serif, $font-family-mincho, serif;
        }

        a {
            border: 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .meta {
        @include vertical-rhythm(line-height, 5/6);
        display: block;
        color: $color-text-secondary;
        font-family: $font-family-sans, $font-family-gothic, sans-serif;
        font-size: $font-size-xsmall;
        margin: 0;
    }

    .description {
        @include vertical-rhythm(line-height, 5/6);
        @include vertical-rhythm(margin-top, 2/6);
        font-size: $font-size-small;
        margin-bottom: 0;
    }
}
