/* Page header */

[role="banner"] {
    text-align: center;
    @include vertical-rhythm(margin-bottom, 2);
    .logo {
        @include scale-text(large);
        @include vertical-rhythm(padding, 2 0 1);
        display: inline-block;
        font-style: italic;
        font-weight: normal;
        margin: 0;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border-top: 1px solid $color-fg-lightgray;
            width: 48px;
            width: 3rem;
        }
        a {
            @extend %text-link-noline;
            color: inherit;
        }
    }
}
