/* Page footer */

[role="contentinfo"] {
        @include vertical-rhythm(margin-top, 3);
    color: $color-fg-gray;
    section {
        @extend %block-small;
    }
    h2 {
        @extend %text-x-small-allcaps-adjust;
    }
    h2,
    p {
        margin: 0;
    }
    .author {
        @extend %text-small;
        @include vertical-rhythm(margin, 2 0);
        text-align: center;
        a {
            @extend %text-link-sub;
        }
    }
    .meta {
        @extend %text-x-small;
        @include vertical-rhythm(margin, 2 0 1);
        display: block;
        text-align: right;
        a {
            @extend %text-link-sub;
        }
    }
}

.about {
    @include clearfix;
    .profileImage {
        @extend %image-figure;
        float: left;
        margin: 0 0.5em 0.5em 0;
    }
}

.copyright {
    @extend %text-small;
    @include vertical-rhythm(margin, 2 0 3);
    display: block;
    text-align: center;
    a {
        @extend %text-link-sub;
    }
}

[role="navigation"] {
    @extend %block-sideline-both;
    @extend %text-x-small;
    @extend %text-allcaps;
    @include vertical-rhythm(margin, 2 0);
    h2 {
        font-size: 100%;
        font-weight: bold;
        &:after {
            content: ": ";
        }
    }
    ul {
        padding: 0;
        margin: 0 auto;
        display: table;
    }
    li {
        background-color: $color-bg-main;
        display: table-cell;
        padding: 0 0.75em;
    }
    em,
    a {
        font-weight: bold;
        // color: $color-fg-gray;
    }
    em {
        font-style: normal;
        &:after {
            content: "*";
        }
    }
    a {
        @extend %text-link-sub;
    }
}

