.Footnotes {
    h2 {
        @include vertical-rhythm(line-height, 5/6);
        @include vertical-rhythm(margin-top, 1);
        @include vertical-rhythm(padding-bottom, 1/6);
        font-size: $font-size-medium;
        font-weight: bold;
        margin-bottom: 0;

        + ol {
            margin-top: 0;
        }
    }
}
