.MainHeader {
    @include vertical-rhythm(padding-bottom, 1.5);
    @include vertical-rhythm(padding-top, 3);
    box-shadow: 0 1px $color-border;
    position: relative;

    &,
    &[data-header-compact] {
        @include vertical-rhythm(min-height, 3);
    }

    @media (min-height: 24em) {
        @include vertical-rhythm(min-height, 7.5);
    }

    h1 {
        &::before {
            @include vertical-rhythm(height, 9/6);
            content: "";
            display: inline-block;
            vertical-align: 0;
        }
    }

    .meta {
        @include vertical-rhythm(line-height, 5/6);
        color: $color-text-secondary;
        font-size: $font-size-small;
        margin: 0;

        a {
            color: $color-link-secondary;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .tags {
        bottom: 0;
        position: absolute;
        right: 0;
        text-transform: lowercase;

        &::after {
            @include vertical-rhythm(vertical-align, -0.5);
            content: "";
            display: inline-block;
        }
    }
}
