.mainHeader[data-component] {
    box-shadow: 0 1px $color-border;
    min-height: 15rem;
    position: relative;
    padding: 6rem 0 3rem;

    @media (min-height: 24em) {
        min-height: 24rem;
    }

    h1 {
        @include polyrhythm(2.5rem, 1rem);
        font-size: $font-size-xxlarge;
        font-weight: normal;
        margin: 0;
        padding-top: 0.5rem;

        .mincho & {
            font-family: $font-family-serif, $font-family-mincho, serif;
        }

        @media (min-width: 24em) {
            @include polyrhythm(3rem, 1rem);
            font-size: $font-size-xxxlarge;
            padding-top: 0;
        }
    }

    .meta {
        color: rgba(black, 0.54);
        font-size: $font-size-small;
        margin: 0;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        time {
            @include polyrhythm(1.5rem, 1rem);
            display: block;
            margin-top: -0.5rem;
        }

        .tags {
            @include polyrhythm(1.5rem, 1rem);
            text-transform: lowercase;
            bottom: 0;
            position: absolute;
            right: 0;
        }
    }
}
