.mainBody[data-component] {

    font-family: $font-family-serif, $font-family-mincho, serif;
    padding: 4rem 0;

    .no-mincho &,
    h2,
    h3,
    h4,
    h5,
    h6,
    dt,
    figure,
    em,
    strong,
    dfn,
    i,
    b,
    table {
        font-family: $font-family-sans, $font-family-gothic, sans-serif;
    }

    > :first-child {
        margin-top: 0;
    }

    h2 {
        @include polyrhythm(2rem, 1rem);
        font-size: $font-size-xlarge;
        font-weight: normal;
        margin: 5rem 0 1rem;
    }

    h3 {
        @include polyrhythm(2rem, 1rem);
        font-size: $font-size-large;
        margin: 3rem 0 1rem;
    }

    h4 {
        @include polyrhythm(2rem, 1rem);
        font-size: $font-size-medium;
        margin: 1rem 0 0;
    }

    h5 {
        @include polyrhythm(1.5rem, 1rem);
        font-size: $font-size-small;
        letter-spacing: $ratio-fifth * 0.05 + em;
        margin: 1.5rem 0 0;
    }

    h6 {
        @include polyrhythm(1.5rem, 1rem);
        font-size: $font-size-xsmall;
        letter-spacing: $ratio-minor-7th * 0.05 + em;
        margin: 1.5rem 0 0;
    }

    h3,
    h4,
    h5,
    h6 {
        opacity: 0.75;
    }

    h4,
    h5,
    h6 {
        + p,
        + ol,
        + ul,
        + dl {
            margin-top: -1rem;
        }
    }

    p {
        @include polyrhythm(2rem, 1rem);
        margin: 1rem 0;
    }

    ol,
    ul,
    dl {
        @include polyrhythm(2rem, 1rem);
        margin: -2rem 0;

        + ol,
        + ul,
        + dl {
            margin-top: -3rem;
        }
    }

    ol,
    ul {
        padding-left: 2rem;
    }

    ul {
        li {
            list-style-type: circle;
        }
    }

    li,
    dd {
        p,
        ol,
        ul,
        dl {
            margin: 0;

            &::before,
            &::after {
                display: none;
            }
        }
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin-left: 2rem;
    }

    hr {
        border: 0;
        color: $color-text-secondary;
        height: 3rem;
        line-height: 2rem;
        margin: 1rem 0;
        text-align: center;
        &:before {
            content: "";
            display: inline-block;
            height: 2rem;
        }
        &:after {
            content: "*";
        }
    }

    pre {
        @include polyrhythm(1rem, 0.5rem);
        font-size: $font-size-xsmall;
        padding: 1rem 0 1rem 2rem;
        margin: 1rem 0;
        white-space: pre-wrap;
    }

    pre,
    table {
        code,
        samp,
        kbd {
            opacity: $ratio-minor-7th * 0.5;
        }
    }

    blockquote {
        margin: 3rem 0;
        padding-left: 2rem;

        p,
        footer {
            @include polyrhythm(1.5rem, 1rem);
            font-size: $font-size-small;
            // margin: 0.5rem 0;
        }

        p {
            margin: 0;
        }

        p + p {
            margin-top: -1rem;
            text-indent: 2em;
        }

        footer {
            margin-top: -1rem;
            text-align: right;
        }
    }

    figure {
        margin: 3rem 0;
    }

    figcaption {
        @extend %text-caption;
    }

    a {
        border-bottom: 1px solid rgba($color-link, 0.5);
        text-decoration: none;
        &:hover {
            border-bottom-color: inherit;
            color: inherit;
        }
    }

    em {}

    strong {
        border-bottom: double;
    }

    table {
        border-collapse: collapse;
        font-size: $font-size-xsmall;
        margin: 3rem 0;
    }

    caption {
        @extend %text-caption;
        caption-side: bottom;
        text-align: left;
    }

    th,
    td {
        @include polyrhythm(1rem, 0.5rem);
        padding: 0rem 0 0rem 1rem;
        vertical-align: baseline;
        position: relative;

        &:first-child {
            padding-left: 0;
        }
    }

    tr {
        &:first-child {
            th,
            td {
                padding-top: 0.5rem;
            }
        }
        &:last-child {
            th,
            td {
                padding-bottom: 0.5rem;
            }
        }
    }

    thead,
    tbody {
        tr:first-child {
            th,
            td {
                box-shadow: inset 0 1px $color-border;
            }
        }
    }

    tfoot,
    tbody {
        th {
            text-align: left;
        }

        tr:last-child {
            th,
            td {
                box-shadow: 0 1px $color-border;
            }
        }
    }
}
