/* Main body */

.main-body > p:last-child:after {
    .backgroundsize & {
        background: $image-favicon-data no-repeat;
        background-size: 0.875em;
        content: "";
        display: inline-block;
        height: 0.875em;
        margin-left: 0.25em;
        width: 0.875em;
    }
}
