.mainHeader[data-component] {
    box-shadow: 0 1px $color-border;
    padding: 6rem 0 3rem;
    position: relative;

    &,
    &[data-header-compact] {
        min-height: 6rem;
    }

    @media (min-height: 24em) {
        min-height: 15rem;
    }

    h1 {
        margin: 0;
        padding-top: 0.5rem;

        @media (min-width: 24em) {
            @include polyrhythm(3rem, 1rem);
            font-size: $font-size-xxxlarge;
            padding-top: 0;
        }
    }

    .meta {
        @include polyrhythm(1.5rem, 1rem);
        color: $color-text-secondary;
        font-size: $font-size-small;
        margin: -0.5rem 0 0;

        a {
            color: $color-link-secondary;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .tags {
        @include polyrhythm(1.5rem, 1rem);
        text-transform: lowercase;
        bottom: 0;
        position: absolute;
        right: 0;
    }
}
