[role="contentinfo"][data-component] {
    box-shadow: inset 0 1px $color-border;
    color: $color-text-secondary;
    font-size: $font-size-xsmall;
    padding: 1.5rem 0 3rem;

    p {
        @include polyrhythm(1.5rem, 1rem);
        margin: 0;
    }

    a {
        color: $color-link-secondary;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
