.pageHeader[data-component] {
    background-color: $color-background;
    box-shadow: 0 1px $color-border;
    color: $color-text-secondary;
    padding-top: 1rem;
    position: relative;
    z-index: 2;

    .logo {
        @include polyrhythm(2rem, 1rem);
        display: block;
        font-weight: normal;
    }

    a {
        color: inherit;
        text-decoration: none;

        &[href="/"] {
            color: $color-link;
            font-weight: bold;
        }

        &[href]:hover {
            text-decoration: underline;
        }
    }

    .separator {
        margin: 0 0.1em;
    }
}

.toggleNav {
    bottom: -0.25rem;
    cursor: default;
    height: 3rem;
    line-height: 1;
    position: absolute;
    right: -0.25rem;
    width: 3rem;

    .navIcon {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 1.5rem;
        height: 1.5rem;

        path {
            fill: $color-text-secondary;
        }
    }

    &[data-state-hover="true"],
    &[aria-expanded="true"] {
        .navIcon {
            path {
                fill: $color-text;
            }
        }
    }
}
