[role="banner"][data-component] {
    @include vertical-rhythm(padding-top, 3/6);
    background-color: $color-background;
    box-shadow: 0 1px $color-border;
    color: $color-text-secondary;
    position: relative;
    z-index: 2;

    h1,
    .breadcrumbs {
        margin: 0;

        &::before,
        &::after {
            content: "";
            display: inline-block;
        }

        &::before {
            @include vertical-rhythm(height, 1);
            vertical-align: 0;
        }

        &::after {
            @include vertical-rhythm(vertical-align, -3/6);
        }
    }

    h1 {
        font-family: $font-family-sans;
        font-size: inherit;
        font-weight: bold;
    }

    a {
        color: inherit;
        text-decoration: none;

        &[href="/"] {
            color: $color-link;
            font-weight: bold;
        }

        &[href]:hover {
            text-decoration: underline;
        }
    }

    .separator {
        margin: 0 0.1em;
    }

    .toggleNav {
        @include vertical-rhythm(height, 9/6);
        @include vertical-rhythm(width, 9/6);
        color: $color-text-secondary;
        bottom: 0;
        cursor: default;
        line-height: 1;
        position: absolute;
        right: 0;

        .navIcon {
            bottom: 0;
            height: $font-size-xlarge;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: $font-size-xlarge;
        }

        &[data-state-hover="true"],
        &[aria-expanded="true"] {
            color: $color-text;
        }
    }
}
