.PrimaryNav {
    @include vertical-rhythm(padding-bottom, 2/6);
    @include vertical-rhythm(padding-top, 2/6);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    [role="banner"] + & {
        box-shadow: 0 1px $color-border;
        left: 0;
        position: absolute;
        transform: translateY(-100%);
        transition: transform 0.25s $ease-out-expo;
        visibility: hidden;
        width: 100%;
        z-index: 1;

        &[data-state-animating="true"] {
            visibility: visible;
        }

        &[data-state-expanded="true"] {
            transform: translateY(0);
            visibility: visible;
        }
    }

    ul {
        @include vertical-rhythm(line-height, 1);
        color: $color-text-secondary;
        font-size: $font-size-xsmall;
        letter-spacing: 0.1em;
        margin: 0 1rem;
        padding: 0;
        text-transform: uppercase;
    }

    li {
        display: inline-block;

        &:not(:first-child)::before {
            content: "\20\B7\20";
            margin: 0 0.25em;
        }
    }

    a {
        text-decoration: none;

        &[href]:hover {
            text-decoration: underline;
        }

        &[data-current="true"] {
            &:after {
                content: "*";
                display: inline-block;
            }
        }
    }

    .searchForm {
        margin: 0;
        position: relative;

        .searchIcon {
            bottom: 0;
            height: 1rem;
            left: 0.5rem;
            margin: auto;
            position: absolute;
            top: 0;
            width: 1rem;
        }

        input[type="search"] {
            @include vertical-rhythm(height, 1);
            background-color: $color-background-highlight;
            border: 0;
            border-radius: 0.25em;
            box-sizing: border-box;
            max-width: 100%;
            padding-left: 2rem;
            width: 16rem;
        }
    }
}
